* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.main {
  border-radius: 6px;
  padding: 16px;
  background: #404264;

  .canvas {
    display: flex;
    border-radius: 6px;
    border: 4px solid black;
    margin-bottom: 16px;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    audio {
      background: white;
      border-radius: 6px;
      flex: 1;
    }
  }

  .uploader {
    text-align: right;

    label {
      height: 48px;
      padding: 0 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      background: black;

      input {
        display: none;
      }
    }
  }
}

